/*General Styling*/
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: black;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px black;
 }

header {
    margin: 0 auto;
    padding: 0.3rem;
}

a {
    color: #fca311;
    text-decoration: none;

}

h1 {
    font-size: 20px;
    font-weight: 900;
    font-style: oblique;
    color: #fca311;
}

p,
h2,
li {
    color: #fca311;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}


/* Button Styling */

button {
    color: #ffa260;
    border: 2px groove;
    border-radius: 10%;
    padding: 1em 2em;
    font-size: 1em;
    margin: 3%;
    transition: all 0.2em;
    background-image: linear-gradient(to bottom,#1f315af0, #14213d);
}

p button {
    border-style: none;
}

button:hover {
    border-color: #ffa260;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.reset {
    background-image: linear-gradient(to bottom, #ffa260, #ed2127);
    color: white;
}

#instructions{
    color: #000;
    background-image: linear-gradient(to bottom,#ffa260, #e9624a);
}

/* Game Layout */

.game-area {
    padding: 1%;
    background-image: linear-gradient(to bottom, #14213d, black);
    min-height: fit-content;
    width: 75%;
    margin: 2% auto;
    border: 2.5px solid orange;
    border-radius: 1%;
    box-shadow: 0 0em 1em #ffa260;
}

.score-section {
    display: grid;
    grid-template-columns: 50% 50%;
}

.scores {
    background-image:linear-gradient( to right, #1f315af0, #1f2a44f0);
    padding: 1rem;
    border: 2px;
    border-style: double none;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.scores i {
    padding: 3rem 0;
}

.selection {
    padding: 0.5rem;
    margin: 1rem 0;

}

.playto {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    font-size: 1em;
    color: #ffa260;
}

/* Winner and Loser Styling */

.winner {
    color: lawngreen;
}

.loser {
    color:  red;
}
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #14213d;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}